In [35]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import string
import re

In [37]:
# Function for basic text preprocessing

In [39]:

# Function for basic text preprocessing
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove extra whitespace
    text = ' '.join(text.split())
    
    return text

In [58]:
data = pd.read_csv('4.csv')

In [60]:
data

                        text
0  "The Cat sat on the mat."
1  "The Dog sat oN the log."
2  "The Dog sat On the log."

In [62]:
# Preprocess the text data
data['text_preprocessed'] = data['text'].apply(preprocess_text)

In [64]:
data

                        text       text_preprocessed
0  "The Cat sat on the mat."  the cat sat on the mat
1  "The Dog sat oN the log."  the dog sat on the log
2  "The Dog sat On the log."  the dog sat on the log

In [66]:
# Initialize the TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer()

In [68]:
# Compute the TF-IDF matrix
tfidf_matrix = tfidf_vectorizer.fit_transform(data['text_preprocessed'])

In [70]:
# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names_out()

In [83]:
print("TF-IDF SCORES")
dense_matrix = tfidf_matrix.toarray()

# Create a DataFrame
df_tfidf = pd.DataFrame(dense_matrix, columns=feature_names)

# Add document identifiers or actual document text for better clarity (optional)
df_tfidf.insert(0, 'Document', data['text_preprocessed'])

# Display the DataFrame
print(df_tfidf)

TF-IDF SCORES
                 Document       cat       dog       log       mat        on  \
0  the cat sat on the mat  0.494289  0.000000  0.000000  0.494289  0.291935
1  the dog sat on the log  0.000000  0.421879  0.421879  0.000000  0.327627
2  the dog sat on the log  0.000000  0.421879  0.421879  0.000000  0.327627

        sat       the
0  0.291935  0.583870
1  0.327627  0.655254
2  0.327627  0.655254